---
import PostCardAllBlogs from "./PostCardAllBlogs.astro";
import { type GetPostsRequest, type Post } from "../../types/postRequest";

const URL = "http://localhost:1337"; // URL to the API

const data = await fetch(
  `${URL}/api/posts?populate=featured_image&populate=categories&sort=id:desc`,
);

const jsonData: GetPostsRequest = await data.json();

const posts = jsonData.data;
---

<ul class="my-8 sm:grid sm:grid-cols-2  sm:gap-8 lg:grid-cols-3 flex flex-col gap-4">
  {
    posts.map((post: Post, index: number) => {
    if (index < 4) return null;
      return (
        <div class=`sm:flex sm:items-center sm:justify-start md:items-center xl:items-start`>
          <PostCardAllBlogs loading="eager" post={post} />
        </div>
      );
    })
  }
</ul>
