---
import determineCategory from "../../helpers/determine-category";
interface Props {
    category: string;
}
const { category } = Astro.props;

const [bgColor, color] = determineCategory(category);
---

<div
    class:list={[
        "inline-flex self-start flex-col items-center px-2 py-1 rounded-lg",
        `${bgColor} ${color}`,
    ]}
>
    <p class="text-sm font-semibold">{category}</p>
</div>
