---
import PostCard from "./PostCard.astro";
import PostCardBig from "./PostCardBig.astro";
import Badge from "./Badge.astro";
import {fetchPosts} from "../../helpers/fetchPosts"; 
import { type SinglePost} from "../../types/postRequest";

const posts : SinglePost[] = await fetchPosts();
---
<section>
<ul class="my-12 xl:grid xl:grid-cols-2 xl:grid-rows-2 xl:gap-12  flex flex-col gap-4">
  <div class="xl:col-start-1 xl:col-end-2 xl:row-start-1 xl:row-end-3 ">
    <PostCardBig loading="eager" post={posts[0]} />
  </div>
  {
    posts.map((post, index: number) => {
      if (index === 0) return null;
      if (index === 3)
        return (
        <div class="xl:col-start-1 xl:col-end-3 ">
            <PostCardBig loading="eager" post={post}>
              <Badge
              category="Programacion"
              />
            </PostCardBig>
          </div>
        );

      if (index >= 4) return null;
      return (
        <div class=`sm:flex sm:items-center sm:justify-start md:items-center xl:items-start`>
          <PostCard loading="eager" post={post} />
        </div>
      );
    })
  }
</ul>
</section>
