---
import PostCard from "./PostCard.astro";
import PostCardBig from "./PostCardBig.astro";
import { type GetPostsRequest, type Post } from "../../types/postRequest";
import Badge from "./Badge.astro";

const URL = "http://localhost:1337"; // URL to the API

const data = await fetch(
  `${URL}/api/posts?populate=featured_image&sort=id:desc`,
);

const jsonData: GetPostsRequest = await data.json();

const posts = jsonData.data;
---

<ul class="mt-8 xl:grid xl:grid-cols-2 xl:grid-rows-3 xl:gap-6 xl:h-[1000px]">
  <div class="xl:col-start-1 xl:col-end-2 xl:row-start-1 xl:row-end-3 ">
    <PostCardBig loading="eager" post={posts[0]} />
  </div>
  {
    posts.map((post: Post, index: number) => {
      if (index === 0) return null;
      if (index === 3)
        return (
        <div class="xl:col-start-1 xl:col-end-3 ">
            <PostCardBig loading="lazy" post={post}>
              <Badge
                color="text-violet-700"
                bgColor="text-violet-300"
                badgeText="design"
              />
            </PostCardBig>
          </div>
        );

      if (index > 4) return null;
      return (
        <div class=`sm:flex sm:items-center sm:justify-start md:items-center xl:items-start`>
          <PostCard loading="eager" post={post} />
        </div>
      );
    })
  }
</ul>
