---
const { post } = Astro.props;

const URL = "http://localhost:1337"; // URL to the API
---

<li class="my-4 xl:my-0 sm:hover:scale-105 sm:transition-all">
  <a href={`/blog/${post.attributes.slug}/`}>
    <div class="sm:grid sm:grid-cols-2 sm:gap-8">
      <div class="">
        <img
          src={`${URL}${post.attributes.featured_image.data.attributes.url}`}
          alt=""
          class="object-cover w-full h-48 rounded-lg sm:h-48 sm:rounded-lg"
        />
      </div>
      <div class="sm:flex sm:flex-col sm:gap-2">
        <p class="text-sm text-violet-700 font-bold my-2 sm:my-0">
          {post.attributes.createdAt.split("T")[0]}
        </p>
        <h4 class="text-lg font-bold">
          {post.attributes.title}
        </h4>
        <p class="text-sm text-gray-500">
          {post.attributes.content.slice(0, 100) + "..."}
        </p>
      </div>
    </div>
  </a>
</li>
