---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Hamburger from "./Hamburger.astro";
import Modal from "../components/header/Modal.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header
    class="bg-white dark:bg-slate-950 dark:text-white px-2 sm:px-6 xl:px-16"
>
    <nav class="flex items-center justify-between p-6">
        <h2 class="m-0 flex items-center">
            <a class="font-semibold text-lg" href="/blog">{SITE_TITLE}</a>
        </h2>
        <Modal />
        <div
            class="header-links sm:gap-8 md:gap-10 xl:gap-16 items-center hidden sm:flex"
        >
            <HeaderLink href="/">Blog</HeaderLink>
            <HeaderLink href="/about">Sobre mi</HeaderLink>
            <HeaderLink href="/newsletter">Newsletter</HeaderLink>
        </div>
        <ThemeSwitcher />
        <Hamburger />
    </nav>
</header>
<script>
    const tham = document.querySelector(".tham") as HTMLDivElement;
    const modal = document.getElementById("default-modal") as HTMLDivElement;
    tham.addEventListener("click", () => {
        modal.classList.remove("hidden");
        modal.classList.add("flex");
    });
</script>
