---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Hamburger from "./Hamburger.astro";
---

<header>
    <nav class="flex items-center justify-between p-6">
        <h2 class="m-0 flex items-center">
            <a class="text-black font-semibold text-lg" href="/">{SITE_TITLE}</a
            >
        </h2>
        <Hamburger />
        <div class="nav-links">
            <HeaderLink href="/">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/newsletter">Newsletter</HeaderLink>
        </div>
    </nav>
</header>
<script>
    document.querySelector(".hamburger")?.addEventListener("click", () => {
        document.querySelector(".nav-links")?.classList.toggle("expanded");
    });
</script>
