<div
    class="bg-gray-500 w-20 cursor-pointer rounded-3xl toggler dark:bg-green-500"
>
    <div
        class="bg-white w-10 h-10 scale-75 rounded-3xl transition-transform dark:bg-black dark:translate-x-full"
    >
    </div>
</div>
