<ul class="ml-4">
    <li class="text-lg my-4 list-disc">
        <p>Grado medio en Sistema Microinformáticos y Redes.</p>
    </li>
    <li class="text-lg my-4 list-disc">
        <p>
            Grado superior en Desarrollo de Aplicaciones Multiplataforma. (en
            proceso)
        </p>
    </li>
</ul>
