<ul class="ml-4">
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Experiencia en el desarrollo de aplicaciones web con tecnologías
            como HTML, CSS, JavaScript, React, Node.js, Express y MongoDB.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Conocimientos en el desarrollo de aplicaciones móviles con
            tecnologías como React Native.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Creacion de scripts utilizando Typescript, C# y Python. Para la
            automatización de tareas y procesos.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Experiencia en el uso de herramientas de control de versiones como
            Git. Control de versiones en la nube con GitHub.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Experiencia utilizando herramientas en la nube de AWS, y certificado
            como AWS Certified Cloud Practitioner.
        </p>
    </li>
</ul>
