<ul class="ml-4">
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Experiencia en frontend con tecnologías como HTML, CSS, SCSS,
            JavaScript, Astro, React y NextJS.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Experiencia en backend con tecnologías como C#, ASP.NET , Golang,
            Java y Node/Express.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Conocimientos en bases de datos relacionales como MySQL, SQL Server,
            PostgreSQL y bases de datos no relacionales como MongoDB.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Creacion de scripts utilizando Typescript, C#, Java, Go... Para la
            automatización de tareas y procesos.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Experiencia en el uso de herramientas de control de versiones como
            Git. Control de versiones en la nube con GitHub.
        </p>
    </li>
    <li class="text-md sm:text-lg my-4 list-disc">
        <p>
            Experiencia utilizando herramientas en la nube de AWS, y certificado
            como AWS Certified Cloud Practitioner.
        </p>
    </li>
</ul>
