---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogTopTitle from "../components/BlogTopTitle.astro";
import { Image } from "astro:assets";
import fotoMia from "../images/fotomia.jpg";
---

<BaseLayout>
    <BlogTopTitle title="David Morgade" />
    <Image
        class:list={[
            "w-full",
            "",
            "object-fit",
            "rounded-lg",
            "h-96",
            "xl:rounded-lg",
        ]}
        src={fotoMia}
        loading="lazy"
        alt="foto de David Morgade"
        class="w-full h-48 object-cover rounded-lg xl:h-64 xl:rounded-lg"
        aspect-ratio="16/9"
        height={200}
        widths={[200, 400, 800, 1200, 1600]}
    />
    <h1>Pagina about</h1>
</BaseLayout>
