---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogTopTitle from "../components/BlogTopTitle.astro";
import MainContentLayout from "../layouts/MainContentLayout.astro";
import ListSkills from "../components/about/ListSkills.astro";
import ListEducation from "../components/about/ListEducation.astro";
---

<BaseLayout>
    <BlogTopTitle title="David Morgade" />
    <MainContentLayout>
        <h3 class="text-2xl font-bold my-8 text-center sm:text-left">
            Sobre mi:
        </h3>
        <p class="sm:text-md md:text-lg my-8 text-center sm:text-left">
            Soy David Morgade, un desarrollador de software de Cádiz, España.
            Actulamente trabajando como militar, responsable de informatica de
            mi unidad. Durante varios años me he dedicado a estudiar
            programacion y me he vuelto un apasionado del desarrollo web y de
            aplicaciones. Me encanta aprender cosas nuevas y compartir mis
            conocimientos con los demas.
        </p>
        <h3 class="text-2xl font-bold my-8 text-center sm:text-left">
            Habilidades:
        </h3>
        <ListSkills />
        <h3 class="text-2xl font-bold my-8 text-center sm:text-left">
            Educacion:
        </h3>
        <ListEducation />
    </MainContentLayout>
</BaseLayout>
