---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostList from "../components/blog/BlogPostList.astro";
import BlogTopTitle from "../components/BlogTopTitle.astro";
import AllBlogPostList from "../components/blog/AllBlogPostList.astro";
import MainContentLayout from "../layouts/MainContentLayout.astro";
---

<BaseLayout>
    <BlogTopTitle title="CódigoMorga" />
    <MainContentLayout>
        <h3 class="text-2xl font-semibold my-4">Últimas entradas</h3>
        <BlogPostList />
        <h3 class="text-2xl font-semibold my-4">Todas las entradas</h3>
        <AllBlogPostList />
    </MainContentLayout>
</BaseLayout>
